<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PPE</title>
    <link rel="icon" type="images/LOGO.png" href="images/LOGO.png">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header class="TOPBARRE">
        <img class="home-icon" src="images/LOGO.png" alt="image is not found">
        <nav class="barre-navigation-home">
            <div class="menu"><a href="/index">Acceuil</a></div>
            <div class="menu"><a href="/About_me">About-me</a></div>
            <div class="menu"><a href="/PPE">PPE</a></div>
            <div class="menu"><a href="/CV">CV</a></div>
            <div class="menu"><a href="/Lettre_de_motivation">Lettre de motivation</a></div>
            <div class="menu"><a href="/Contact">Contact</a></div>
            <div class="menu"><a href="/produits">Produits</a></div>
        </nav>
    </header>


   

    <hr>

    <img class="partnerSO" src="images/SOWAN.png" alt=image is not found">
    <img class="partnerIS" src="images/ISITECH.png" alt=image is not found">

<p>Passionné et intéressé par la nouvelles technologie depuis
    mon plus jeune âge, j'ai aujourd'hui une véritable volonté
    d'apprendre le métier d'administrateurs réseaux. Mon
    exigence me permet de mener un projet de bout en bout afin
    de satisfaire au mieux la demande. Je suis également
    respectueux, ponctuel, autonome et capable de communiquer
    avec un client. <a href="/About_me">En savoir plus ...</a></p> <! -- Court texte de présentation menant à la page about me -->


   
<hr>

<div class="PPE4"></div>
<button class="PPE"><a href="/PPE">PPE 1</a></button>
<button class="PPE"><a href="/PPE">PPE 2</a></button>
<button class="PPE"><a href="/PPE">PPE 3</a></button>
<button class="PPE"><a href="/PPE">PPE 4</a></button>

</div>

<hr>

<footer>
    <a href="https://www.linkedin.com/in/leo-bertholet"> <img class="linkedin" src="images/linkedin.png" alt="image is not found"></a>
</footer>

</body>
</html>